platform: x64
clone_folder: c:\gopath\src\github.com\ethereumproject\go-ethereum
os: Visual Studio 2015
environment:
  GOPATH: c:\gopath
  # You can set GCP_PASSWD here or in the AppVeyor Setting GUI.
  # If setting as below, the encrypted value should be different for each repo.
  GCP_PASSWD:
    secure: erzLJz7qT0kCJa+jZG6Sf9wwkfLYO2UDLzydkKTdwqA=
install:
  - set PATH=%GOPATH%\bin;c:\go\bin;C:\msys64\mingw64\bin;C:\msys64\usr\bin\;%PATH%

  # Install janus.
  - curl -sL https://raw.githubusercontent.com/ethereumproject/janus/master/get-windows.sh | bash
  - set PATH=./janusbin;%PATH%
  - echo %PATH%

  - ps: $env:VERSION_BASE = "$(janus.exe version -format='%M.%m.x')"
  - ps: $env:VERSION = "$(janus.exe version -format=TAG_OR_NIGHTLY)"
  - echo %VERSION_BASE% %VERSION%

  - echo %GOPATH%
  - go version
  - go env
  - go get golang.org/x/sys/windows
build_script:
  - go build -o brainy.exe main.go
  - 7z a brainy-win64-%VERSION%.zip brainy.exe
artifacts:
  - path: '*.zip'
    name: brainy
deploy_script:
  - ps: >-
      If ($env:APPVEYOR_REPO_BRANCH -eq 'master') {
          janus.exe deploy -to="isaac-tests/rodent/""$VERSION_BASE""/brainy-win64-$VERSION.zip" -files='./*.zip' -key='./isaac-test-gcp-service-key.enc.json'
      }
